Repository bcgov/nr-test-bcregistry, changes with the labels that .github/labeler.yml gives for each.
All labels: github_actions, tests, source, docker, controller, dto, entity, repository, configuration, service, dependencies, documentation, openshift

.github/labeler.yml:

github_actions:
  - .github/*

tests:
  - src/test/**/*.java

source:
  - src/main/**/*.java

docker:
  - any: ['Dockerfile','dockerfile-entrypoint.sh']

controller:
  - src/main/**/controller/*.java

dto:
  - src/main/**/dto/*.java

entity:
  - src/main/**/entity/*.java

repository:
  - src/main/**/repository/*.java

configuration:
  - src/main/**/configuration/*.java
  - src/main/resources/**/*
  - config/**/*

service:
  - src/main/**/service/*.java

dependencies:
  - pom.xml

documentation:
  - docs/**/*

openshift:
  - .github/openshift/*.yml

ci: Add GitHub Actions workflow for building Docker image
  .github/workflows/base.yml
Labels: none

chore: Add OpenShift deployment template for BC Registry integration
  openshift.deploy.yml
Labels: none

chore: Update BC Registry API URI and clean up environment variables in deployment configuration
  .gitignore
  openshift.deploy.yml
  src/main/resources/application.yml
Labels: configuration

chore: removing unwanted files
  config/application.yml
Labels: configuration

ci: Add deployment step for OpenShift in GitHub Actions workflow
  .github/workflows/base.yml
Labels: none

chore: Update package and tag parameters in GitHub Actions workflow for backend deployment
  .github/workflows/base.yml
  openshift.deploy.yml
Labels: none

chore: Update deployment configuration to use 'test' package instead of 'backend'
  .github/workflows/base.yml
  openshift.deploy.yml
Labels: none

chore: Update deployment configuration to use 'backend' package and adjust tagging parameters
  .github/workflows/base.yml
  openshift.deploy.yml
Labels: none

chore: Update BcRegistryController to use Mono for document retrieval and add visibility modifier
  src/main/java/ca/bc/gov/bc_registry_test/controller/BcRegistryController.java
Labels: source, controller

chore: Enhance BcRegistryBusinessAdressesDto validation and address retrieval logic
  src/main/java/ca/bc/gov/bc_registry_test/dto/bcregistry/BcRegistryBusinessAdressesDto.java
Labels: source
